
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background:  #dffddf;
  font-family: 'Arimo', sans-serif;
}

footer {
  position: relative;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.form-control:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.btn{
  border-radius: 10px;
}

